<h1>About Me</h1>

<%= image_tag "familybasesball.png", height:"300px", class:"padding" %>
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<p class="googly padding">
		Hello, i'm Andy Hayes, let me tell you a little about me.
		I am an adamant soccer fan, I coach soccer for Utah Storm, one of the premier club teams in our state.
		 I also play competitively in a few leagues at seven peaks. I enjoy spending time outside with my family,
		  we spend a lot of our weekends in the summer camping and playing outdoors. 
		  I also enjoy bowling. I participate in a competitive bowling league in American Fork, and travel with our team each year to the National bowling tournament. 
	</p>
<div/>
<div/>
