
body{
	background-image: url('COMPUTER.jpg');
	background-position: center top;
    background-size: 100% auto;
	text-align: center;
	height: 100%;
}

nav{
	text-align: center;
}

.new_blog{
	font-size: 20px;
	color:black;
	list-style: none;
}

footer {
		background-color: #2b2b2b;
		padding-bottom: 5px;
		width: 100%;
		clear: both;
		


		p {
	font-size: 15px;
	color:white;
	padding-bottom: 10px;
	}
}
.purple{
	color:#e45fec;
}
.body_p{

	color:white;
	font-size: 40px;
	margin-top: 150px;
	margin-bottom: 150px;
}

.blog_list{
	background-color: lighten(#2b2b2b, 20%);
	color: white;
	max-height: 460px;
	overflow-y:auto;
	
}

.blog_post{
	background-color: white;
	color: black;
	height: 460px;
	overflow-y:auto;
}
.padding{
	margin-bottom: 70px;
}

p{
	font-size: 20px;
	color:blue;
}