<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<footer>
	<div class="container-fluid">
		<span class="glyphicon glyphicon-envelope"></span>
		 <p id="copyright">&copy; <%= Time.now.year %>  Andrew Hayes|<%= Rails.env %></p>
	 </div>
</footer>
</nav>