<footer>
	<div class="container-fluid">
		<p>Put a saying that <span class="purple">defines</span> you here</p>
		<span class="glyphicon glyphicon-envelope"></span>
		 <p id="copyright">&copy; <%= Time.now.year %>  Andrew Hayes|<%= Rails.env %></p>
	 </div>
</footer>